@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    background: url('./image/111.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
}

.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200vh;
    background: #CBC3E3;
}

.loginbody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./image/111.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20 px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo {
    font-size: 2em;
    color: #fff;
    margin-left: 40px;
    user-select: none;
}


.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    
}

.navigation .btnLogin {
    margin-right: 40px;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    margin-right: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    color: #9400d3;

}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #9400d3;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #9400d3;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #9400d3;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #9400d3;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #9400d3;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #9400d3;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #9400d3;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #9400d3;
    margin-right: 3px;
}

.remember-forgot a {
    color: #9400d3;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #9400d3;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #9400d3;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #9400d3;
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;      
    align-items: center;         
    justify-content: flex-start; 
    height: 100vh;            
    padding-top: 50px;           
  }
  
h1 {
    text-align: center;   
    margin-top: -40vh;     
    margin-bottom: 10vh;
    font-size: 9rem;   
    color: #CBC3E3;  
    -webkit-text-stroke: 1px black;
  }

h1:hover {
    text-shadow: 
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 7px #fff,
    0 0 9px #fff,
    0 0 12px #fff;
    transition: .5s;
    cursor: default;
}
  
.gradient {
    text-align: center;
    background: linear-gradient(45deg, #CBC3E3, #fff );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 5rem;  
    font-variant: small-caps;
    margin-bottom: 38vh;
    -webkit-text-stroke: 0.8px black;
    font-weight: bold;
  }

.gradient:hover {
    text-shadow: 
    0 0 3px #fff,
    0 0 7px #fff,
    0 0 12px #fff,
    0 0 17px #fff,
    0 0 25px #fff;
    transition: .5s;
    cursor: default;
}

section .m-heading {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    outline: none;
    color: aliceblue;
    margin-bottom: 3vh;
    text-align: center;
}

section .m-heading:hover {
    cursor: default;
    text-shadow:
    0 0 20px rgba(255, 105, 180, 0.6),
    0 0 30px rgba(255, 105, 180, 0.4),
    0 0 40px rgba(255, 255, 255, 0.3);;
    transition: .5s;
}

section .contItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5vh;
    padding: 15px 0px 15px 0px;
    overflow: hidden;
    max-width: 180vh;
    max-height: 75vh;
    margin: auto;
    background: linear-gradient(135deg, #fff 0%, #BFC1C2 50%, #D8D8D8 100%);
    border-radius: 10px;
    box-shadow: 0 0 60px rgba(255, 105, 180, 0.6),
                0 0 80px rgba(255, 105, 180, 0.4),
                0 0 100px rgba(255, 255, 255, 0.3);
} 

.btnmoreP {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    position: absolute;
    left: 97vh;
    align-items: center;
    padding: 14px 60px;
    width: 60px;
    height: 10px;
    border: none;
    border-radius: 5px;
    background: #D8D8D8;
    color: black;
    box-shadow: 0 0 20px rgba(255, 105, 180, 0.6),
                0 0 30px rgba(255, 105, 180, 0.4),
                0 0 40px rgba(255, 255, 255, 0.3);

}

.btnmoreP:hover {
    background:black;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}

.sectionitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

section img {
    width: 70vh;
    height: 30vh;
    transform-origin: center;
    box-shadow: 0 0 20px rgba(255, 105, 180, 0.6),
                0 0 30px rgba(255, 105, 180, 0.4),
                0 0 40px rgba(255, 255, 255, 0.3);
}

section img:hover {
    box-shadow: 0 0 20px rgba(21, 0, 138, 0.6),
                0 0 30px rgba(23, 0, 126, 0.4),
                0 0 40px rgba(83, 76, 126, 0.3);
    transform: scale(1.1);
    transition: 0.8s ease;
}

section p {
    margin-top: 5px;
    font-size: 1em;
    font-variant: small-caps;
    color: black;
    text-align: center;
}

section p:hover {
    cursor: default;
}

.btndownpage {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CBC3E3;
    padding: 8px 20px;
    margin-bottom: 10vh;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.btndownpage:hover {
    background: #fff;
    color: #CBC3E3;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 105, 180, 0.6),
                0 0 30px rgba(255, 105, 180, 0.4),
                0 0 40px rgba(255, 255, 255, 0.3);
    transition: .5s;
}

.about1p .h2a1 {
    margin-top: -85vh;
    margin-bottom: 15vh;
    font-variant: small-caps;
    font-size: 3em;
    color: #fff;
}

.sectionabout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
    margin-bottom: 10vh;
}

.iconbox {
    width: 50vh;
    text-align: center;
}

.iconbox i {
    font-size: 5em;
    margin-bottom: 1vh;
    color: #fff;
}

.iconbox i:hover {
    color: black;
    transition: .8s;
}

.iconbox p {
    font-size: 1em;
    color: black;
    font-variant: normal;
    text-align:start;
    margin: 0;
}

.iconbox p:hover {
    color: #fff;
    transition: .5s;
}

.statistic h2 {
    font-size: 4em;
    font-variant: small-caps;
    color: #fff;
    margin-bottom: 3vh;
}

.cardofp {
    display: none;
}
.p1table {
    display: none;
}

.p2table {
    display: none;
}

.p3table {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}


th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }

.tdtext {
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: 700;
}