@media (max-width: 768px) {

    body {
        height: 330vh !important;
    }

    h1 {
        margin-top: -100vh;
    }

    .gradient {
        margin-bottom: 22vh !important;
    }

    section .contItems {
        max-width: 700px !important;
        max-height: 200vh !important;
    }

    .sectionitem {
        width: 100% !important;
    }
    
    section img {
        width: 600px !important;
        height: 300px !important;
    }

    .h2a1 {
        margin-top: -150vh !important;
        margin-bottom: 30vh !important;
    }

    .sectionabout {
        margin-bottom: 20vh !important;
    }

    .iconbox {
        width: 26vh;
    }
}